{%extends "master.html"%}

{%block content%}
<form method="post" action="/AddToCart">
    {%csrf_token%}
<table class="table">
  <tr><td>Grocery Id</td>
        <td>{{grocery.id}}
            <input type="hidden" name="groceryid" value="{{grocery.id}}"/>
        </td></tr>
        <tr><td>Grocery Name</td>
            <td>{{grocery.gname}}</td></tr>
        <tr><td>Cake Description</td>
                <td>{{grocery.description}}</td></tr>
        <tr><td>Category</td>
                    <td>{{grocery.cat_id}}</td></tr>
        <tr><td>Image</td>
                        <td> <img src="{{grocery.imageurl.url}}" 
                            height="120" width="150"/></td></tr>
        <tr><td>Quantity</td>
        <td><select name="qty"><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option></select></td></tr>
        <tr>
            <td><button type="submit" class="button btn-success">Add To Cart</button></td>
        </tr>
</table>
</form>
{%endblock%}